#top{
	height:250px;
	width:300px;
	background-color: #FF9AA2;
	border-radius: 30px;
	text-align: center;
	font-size: 170px;
	animation-name: block;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes block{
	0%{background-color: #FF9AA2; transform: translate(0px,0px) rotateX(0deg);}
	25%{background-color: #F7EBA5; transform: translate(250px,0px) rotateX(30deg);}
	50%{background-color: #B5EAD7; transform: translate(500px,0px) rotateX(60deg);}
	75%{background-color: #FF9AA2; transform: translate(750px,0px) rotateX(90deg);}
	100%{background-color: pink; transform: translate(1000px,0px) rotateX(120deg);}
}

#outline{
	border: solid lightgray 10px;
	height: 400px;
	width: 400px;
	margin: auto;
}

#box{
	height: 100px;
	width: 100px;
	background: #FF9AA2;
	font-size: 72px;
	animation-name: box;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes box{
	0%{background-color: #FF9AA2; transform: translate(0px,0px);}
	25%{background-color: #FF9AA2; transform: translate(301px,0px);}
	50%{background-color: #F7EBA5; transform: translate(301px,301px);}
	75%{background-color: #B5EAD7; transform: translate(0px,301px);}
	100%{background-color: #B5EAD7; transform: translate(0px,0px);}
}