
*{
	box-sizing: border-box;
}

#logo{
	font-size: 35px;
	float: left;
	margin-left: 10px;
	padding: 10px;
}

#logo:hover{
	opacity: 70%;
	cursor: pointer;
}

body{
    margin: 0px;
    font-family: "Abel", sans-serif;
}

#nav{
	float: right;
	margin-right: 30px;
}

#nav li{
	list-style: none;
	float: right;
	margin-right: 20px;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
}

#nav li a{
	text-decoration: none;
	color: grey;
}

#nav li:hover{
	background-color: #D3D3D3;
}


#navigation{
	padding: 5px;
}

#navBar{
	background-color: white;
	height: 82px;
	width: 100%;
}


     /* Slider */


#bg{
	background-image: url("https://codingsteps.github.io/WebProg/images/Grilled-Vegetable-Wrap.jpg");
	height: 600px;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
}

#sub{
	position: absolute;
	font-size: 20px;
	top: 570px;
	left: 10px;
}


	/*Flexboxes*/

#flexcontainer{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.card{
	flex: 30%;
	margin: 10px;
}

#img1{
	height: 500px;
	width: 400px;
    margin: 20px;
}

