
.buttons{
	width: 100px;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 5px;
	font-size: 30px;
	text-decoration: none;
	position: absolute;
	left: -150px;
	transition: left 0.3s;

}

.buttons:hover{
	left: -4px;
}

#one{
	background-color: salmon;
	color: white;
	top: 220px;
}

#two{
	background-color: turquoise;
	color: white;
	top: 275px;
}

#three{
	background-color: orange;
	color: white;
	top: 331px;
}

#four{
	background-color: limegreen;
	color: white;
	top: 387px;
}

#image{
	position: absolute;
	height: 326px;
	display: block;
}

#overlay{
	height: 326px;
	width: 326px;
	position: relative;
	left: 0px;
	top: 0px;
}

#overlay:hover{
	background: linear-gradient(to bottom right, rgba(245, 40, 145, 0.58), rgba(48, 212, 246, 0.58));
	color: white;
}

#total{
	width: 326px;
	height: 326px;
	margin: auto;
}

#text{
	text-align: center;
	position: absolute;
	font-size: 50px;
    color: transparent;
}
