*{
	box-sizing:border-box;
}

#n {
	height: 100px;
	background-color: #D4EBF2;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.text{
	font-size: 30px;
	color: #00A9BA;
	margin-top: 20px;
	padding : 10px 15px 15px 10px;

	float: right;
	border-radius: 30px;
}

.text:hover{
	text-decoration: underline;
	background-color: #ECADB5;
	color: antiquewhite;
}


#logo{
	float: left;
	padding-top: 20px;
}

#logo:hover{
	opacity: 0.6;
}

body{
	margin: 0px;
	font-family: 'Architects Daughter', cursive;
}

#slime{
	margin-top: 0px;
	width: 100%;
	height: 647px;
}

#content{
	display: none;
}

#dropdown{
	position: relative;
}

#dropdown:hover #content{
	display: block;
	position: absolute;
	top: 65px;
	left: 0px;
	background-color: #D4EBF2;
}


.s{
	text-decoration: none;
	color: #00A9BA;
	border-bottom: 2px solid powderblue;
	display: block;
	padding: 10px 20px 10px 20px;
}

.s:hover{background-color: #e1f0f4;}

/* Start */
/*
#title{
	background-color: #ECADB5;
	width: 80%;
	height: 90px;
	font-size: 70px;
	text-align: center;
}*/

#side_bar{
	list-style-type: none;
	clear: both;
	width: 20%;
	background-color: #91F67A;
	padding-left: 0px;
	margin-top: 0px;
	float: left;
}

.side{
	font-size: 30px;
	padding-top: 15px;
	background-color: #91F67A;
	border-bottom: 2px solid #89ea70;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center; 

}

#board{
	background-color: #ECADB5;
	color: ghostwhite;
}


.side:hover{
	background-color: #89ea70;
}

.heading{
	background-color: #ECADB5; 
	width: 100%;
	font-size: 80px;
	float: left;
	text-align: center;
	color: ghostwhite;
}


.items{
	height: 200px;
    width: 200px;
    background-color: #00A9BA;    
    border-radius: 20%;
    display: inline-block;
 }

.total{
	float: left;
	margin-top: 50px;
}

.description{
	float: left;
	padding: 40px;
	padding-top: 60px;
}


